{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-8">
    <h3 class="text-white my-5">About Page</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo maxime tempore eaque eum, dolore facilis
        labore aperiam quibusdam ea ad. Numquam vero recusandae, non explicabo quos voluptas reprehenderit est dolorum?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum ea dicta, eveniet totam at doloremque
        exercitationem perferendis ratione, repellendus quam? Ipsa molestias odit ad sapiente debitis perferendis
        ducimus? Assumenda!
    </p>
</div>

{% endblock content %}