{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-8">
    <h3 class="text-white my-5">Home Page</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" id="message_container" role="alert">{{message}}</div>
        {% endfor %}
    {% endif %}

    {% for post in admin_posts %}
    <div class="jumbotron jumbotron-fluid jumbotron-color my-5">
        <div class="container">
            <h1 class="display-4" style="font-weight: bold;">{{post.title}}</h1>
            <p class="lead">{{post.description}}</p>
            <div class="col-sm-2-end">
                <small>
                    --{{post.author}}
                </small>
            </div>    
        </div>
    </div>
    {% endfor %}
    {% for post in posts %}
    {% if post.author != 'admin' %}
    <div class="jumbotron jumbotron-fluid jumbotron-color my-5">
        <div class="container">
            <h1 class="display-4" style="font-weight: bold;">{{post.title}}</h1>
            <p class="lead">{{post.description}}</p>
            <div class="col-sm-2-end">
                <small>
                    --{{post.author}}
                </small>
            </div>    
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>

{% endblock content %}