{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-8">
    <h3 class="text-white my-5">Dashboard Page</h3>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}" id="message_container">{{message}}</div>
    {% endfor %}
    {% endif %}
    
    <div class="makenewpost form-group" >
        <form method="post" action="">
            {% csrf_token %}
            <label>Title</label>
            <input type="text" name="title" required class="form-control">
            <label>Description</label>
            <textarea name="description" class="form-control" rows="5" cols="30">Write post here...</textarea>
            <input type="hidden" name="author" value="{{username}}"><br>
            <input type="submit" value="Post" class="btn btn-success">
        </form>
    </div>

</div>

{% endblock content %}