{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-8">
    <h3 class="text-white my-5">Author Posts Page</h3>

    {% if posts %}
    {% for post in posts %}
    <div class="jumbotron jumbotron-fluid jumbotron-color my-5">
        <div class="container">

            <h1 class="display-4" style="font-weight: bold;">{{post.title}}</h1>
            <p class="lead">{{post.description}}</p>
            <div class="col-sm-2-end">
                <small>
                    --{{post.author}}
                </small>
            </div>

        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock content %}